node_modules/
apps/website/dist/
apps/website/node_modules/
packages/*/node_modules/
*.vsix
.env
packages/santi020k-theme/*.vsix
packages/santi020k-theme/themes/*-bold-color-theme.json
packages/santi020k-theme/themes/*-italic-color-theme.json
packages/santi020k-theme/themes/santi020k-hc-light-color-theme.json
.turbo/
.eslintcache
.cspellcache
