node_modules/
apps/*/dist/
apps/*/node_modules/
packages/*/dist/
packages/*/node_modules/
*.vsix
.env
packages/santi020k-theme/*.vsix
packages/santi020k-theme/themes/*-bold-color-theme.json
packages/santi020k-theme/themes/*-italic-color-theme.json
packages/santi020k-theme/themes/santi020k-hc-light-color-theme.json
.turbo/
.eslintcache
.cspellcache

# Turborepo
.turbo
